.transaction_data{
  display:block;
}

.transaction-date{
  color: #0E323F;
}

.transaction-company{
  color: #0E323F;
}

.popup-overlay{
  height: 0px !important;
  width: 0px !important;
}
.modal-overlay-visible{
  height: 0px !important;
  width: 0px !important;
}

.sort_popup{
  text-align: right;
  background: white;
  border:solid 1px #C0C0C0;
  padding-left: 10px ;
  padding-right: 10px;
  padding-top: 9px;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.popup-btn_sort{
  font-weight: bold;
  color:  #0E323F;
}
