<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <title>NoInk</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/css/framework7.ios.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/defaultPage.css">
    <link rel="stylesheet" href="css/passcode.css">
    <link rel="stylesheet" href="css/paymentAccepted.css">
    <link rel="stylesheet" href="css/payment.css">
    <link rel="stylesheet" href="css/receipt.css">
    <link rel="stylesheet" href="css/transaction_page.css">


    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.3.1/js/framework7.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/82d88ed81c.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/service/InitService.js"></script>
    <script type="text/javascript" src="js/controller/IndexPageController.js"></script>
    <script type="text/javascript" src="js/controller/DetailPageController.js"></script>
    <script type="text/javascript" src="js/controller/GeneralController.js"></script>
    <script type="text/javascript" src="js/controller/TransactionsPageController.js"></script>
    <script type="text/javascript" src="js/passcode.js"></script>
    <script type="text/javascript" src="js/service/SharedScopes.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>


      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->


  </head
  >
  <body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="views">
      <div class="view view-main">
        
        <!-- Navbar -->
        <div class="navbar no-border with-margin-bottom">
          <div class="navbar-inner">
            <div class="left"></div>
            <div class="center sliding"></div>              
          </div>
          <div class="navbar-inner cached" data-page="detailsPage">
            <div class="left sliding">
              <a href="index" class="link back">
                <i class="icon icon-back"></i><span>Back</span>
              </a>
            </div>
            <div class="center sliding"> ... </div>
            <div class="right"></div>
          </div>
        </div>
        <div class="navbar-inner cached" data-page="defaultPage">
          <div class="right">
            <a href="index" class="link back">
              <i class="fa fa-cog fa-1x setting-btn" aria-hidden="true"></i>
            </a>
          </div>
          <div class="center sliding card_title">Your Cards</div>
          <div class="right"></div>
        </div>

        <div class="navbar-inner cached" data-page="payPage">
          <div class="right">
            <a href="index" class="link back">
              <i class="fa fa-cog fa-1x setting-btn" aria-hidden="true"></i>
            </a>
          </div>
          <div class="center sliding card_title">Payment</div>
          <div class="right"></div>
        </div>

          
        <div class="navbar-inner cached" data-page="transactionsPage">
          <div class="center sliding card_title">Transaction</div>
          <div class="right"></div>
        </div>
        
        <!-- Pages -->
        <div class="pages navbar-through toolbar-through with-margin-top">



          <div class="popup popup-about">
            <div class="content-block">
              <p>About</p>
              <p><a href="#" class="close-popup">Close popup</a></p>
              <p>Lorem ipsum dolor ...</p>
            </div>
          </div>
          
          <!-- Page 1 -->
          <div data-page="index" class="page " ng-controller="IndexPageController">
            <!-- Page content-->
            <div class="page-content center">
              <div class="text-center passcode_area">
                <img src="./images/passcodes/avatar_circle.png" class="avatar"/>
                <h4 class="password_name">Kasimir Kaitue</h4>
                <p class="password_input_label">Type Your Password<p>
                <form>
                  <input type="text" pattern="\d*" maxlength="1" class="password_input" onKeyUp="nextField(this, 'n2', 1)" class="passcode_input"></input>
                  <input type="text" name="n2" pattern="\d*" maxlength="1" class="password_input" onKeyUp="nextField(this, 'n3', 1)" class="passcode_input"></input>
                  <input type="text" name="n3" pattern="\d*" maxlength="1" class="password_input" onKeyUp="nextField(this, 'n4', 1)" class="passcode_input"></input>
                  <input type="text" name="n4" pattern="\d*" maxlength="1" class="password_input"  onKeyUp="nextPage(this)" class="passcode_input"></input>
                </form>
              </div>
              <div class="text-right passcode_next_btn">
                <a hidden id="passcode_next_btn" href="#payPage">NEXT </a>             
              </div>
            </div>
          </div>

          <!-- Page 2 -->
          <div data-page="defaultPage" class="page cached" ng-controller="DetailPageController">
            <!-- Page content-->
            <div class="page-content" ng-model="card">
                <div class="card_list text-center">
                  <a href="#transactionsPage" class="credit_card is-selected"> <img src="images/cards/1453186886483.jpg" /> </a>
                  <a href="#transactionsPage" class="credit_card"> <img  src="images/cards/contactless-card.png" /> </a>
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-plus-square-o fa-4x with-margin" aria-hidden="true"></i>
                </div>
            </div>
          </div>


            <!-- Page 3 -->
          <div data-page="payPage" class="page cached" ng-controller="GeneralController">
              <!-- Page content-->
            <div class="page-content">
              <div class="selected_card_area">
                <!--<p class="header-text selected-card-title" ng-click="setTimeout(activatePaymentTimeout, 3000);">
                  Selected card:
                </p> -->
                <p class="selected-card_number"> VISA  **** **** **** 1234 </p>
                <a class="button-right col-md-2" href="#selectCardPage">
                  Change
                </a>
              </div>
              <div class="payment_area">
                <div id="circle">
                    <div class="circle one">
                        <div class="circle two">
                            <div class="circle three">
                                <div class="circle four">
                                    <div class="circle five">
                                        <div class="circle six">
                                            <div class="circle seven">
                                                <div class="circle eight">
                                                    <div class="circle nine">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment_btn text-center">
                  <a id="pay" class="" href="#paymentAcceptedPage"><input type="button" class="btn text-center pay" value="Pay"/></a> 
                </div>
              </div>
            </div>

          </div>
            <!-- Page 4 -->
            <div data-page="paymentAcceptedPage" class="page cached" ng-controller="GeneralController">
                <!-- Page content-->
                <div class="page-content text-center">
                    <div class="container payment_completion_area">
                        <p class="large-text accepted_text">Payment accepted</p>
                        <div class="button-container">
                            <p class="large-text receive_receipt"> Do you want a receipt?</p>

                            <a class="col-md-6" href="#defaultPage"> <input class="btn btn-no" type="button" value="No" /> </a>
                            <a class="col-md-6" href="#constReceiptPage"> <input type="button" class="btn btn-yes" value="Yes"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page 5 -->
            <div data-page="receiptPage" class="page cached" ng-controller="GeneralController">
                <!-- Page content-->
                <div id="content" class="page-content">
                 <i class="fa fa-ellipsis-h fa-3x navy-color text-right top-button" ng-click="" aria-hidden="true"></i>
                    <div class="text-center " id="receipt_image_area">
                    </div>
                    <div id="footer" >
                        <div class="footer-button-left">
                            <a class="left-position" href="#defaultPage"> <i class="fa fa-trash-o fa-3x navy-color" aria-hidden="true"></i> </a>
                        </div>
                        
                        <div class="footer-button-right">
                            <a class="right-position" href="#defaultPage"><input type="button" class="btn btn-yes" value="OK" /> </a>
                        </div>
                    </div>
                 </div>
            </div>
            <!-- Page 6 -->
            <div data-page="selectCardPage" class="page cached" ng-controller="GeneralController">
                <!-- Page content-->
                 <div class="page-content">
                        <div class="card_list text-center">
                            <a href="#payPage" class="credit_card"> <img ng-class="" src="images/cards/1453186886483.jpg" /> </a>
                            <a href="#payPage" class="credit_card"> <img ng-class="" src="images/cards/contactless-card.png" /> </a>
                        </div>
                 </div>
            </div>
            <div data-page="transactionsPage" class="page cached" ng-controller="TransactionsPageController">
              <!-- Page content-->
              <div class="page-content">
                <div class="list-block media-list">
                  <div class="sort_popup">
                    <p><a href="#" data-popup=".popup-about" class="open-popup popup-btn_sort"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a></p>
                  </div>
                  <ul>
                    <li ng-repeat="transaction in transactions">
                      <a class="transaction_list" href="#receiptPage" ng-click="fetchReceipt(transaction.card_id, transaction.id)">
                        <div class="item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                  <div class="item-title"><span class="transaction-date">{{ transaction.created_at.split("T")[0] }}</span></div>
                                  <div class="item-after">{{transaction.sum}}€</div>
                              </div>
                              <div class="item-subtitle"><span class="transaction-company">{{transaction.company}}</span></div>
                            </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>  
              </div>
            </div>


            <div data-page="constReceiptPage" class="page cached" ng-controller="GeneralController">
                  <!-- Page content-->
              <div id="content" class="page-content">
                <div class="text-center const_receipt_image_area">
                  <img src="./images/receipts/acme.jpg">
                </div>
                <div id="footer" >
                    <div class="footer-button-left">
                       <a class="left-position" href="#defaultPage"> <i class="fa fa-trash-o fa-3x navy-color" aria-hidden="true"></i> </a>
                    </div>
                    
                    <div class="footer-button-right">
                        <a class="right-position" href="#defaultPage"><input type="button" class="btn btn-yes" value="OK" /> </a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="popup popup-about">
      <div class="content-block">
          <p>About</p>
          <p><a href="#" class="close-popup">Close popup</a></p>
          <p>Lorem ipsum dolor ...</p>
      </div>
    </div>
  </body>
</html>
